.ProfileCard{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
}

.ProfileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages>img:nth-of-type(1){
    width: 100%;
    max-height: 14rem;
}
.ProfileImages>img:nth-of-type(2){
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    height: 6rem;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;
}

.ProfileName>span:nth-of-type(1){
    font-weight: bold;
}

.FollowStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.FollowStatus > hr {
    width: 85%;
    border: 1px solid var(--hrColor);
}

.FollowStatus > div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    justify-content: center;
    align-items: center;
}

/* TODO something is creating issue in the profile card need to debug and update */

.Follow{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.Follow>span:nth-of-type(1){
    font-weight: bold;
}
.Follow>span:nth-of-type(2){
    color: var(--grey);
    font-size: 13px;
}
.vl{
    height: 150%;
    border-left: 2px solid var(--hrColor);
} 

.ProfileCard > span{
    font-weight: bold;
    color: orange;
    align-self: center;
    cursor: pointer;
    margin-bottom: 1rem;
}